{% extends "base.html" %}

{% block title %}Bem-vindo ao WMS Project!{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Bem-vindo ao WMS Project!</h1>

    <div class="alert alert-info" role="alert">
        {{ db_status }}
    </div>

    <p>Este é o ponto de partida do seu sistema de gerenciamento de armazém.</p>

    <div class="list-group">
    <a href="{{ url_for('listar_produtos') }}" class="list-group-item list-group-item-action">Gerenciar Produtos</a>
    <a href="{{ url_for('adicionar_produto') }}" class="list-group-item list-group-item-action">Adicionar Produto</a>
    <a href="{{ url_for('listar_enderecos') }}" class="list-group-item list-group-item-action">Gerenciar Endereços</a>
    <a href="{{ url_for('adicionar_endereco') }}" class="list-group-item list-group-item-action">Adicionar Endereço</a>
    <a href="{{ url_for('listar_itens_estoque') }}" class="list-group-item list-group-item-action">Gerenciar Estoque</a>
    <a href="{{ url_for('adicionar_item_estoque') }}" class="list-group-item list-group-item-action">Adicionar Item ao Estoque</a>
    <a href="{{ url_for('listar_movimentacoes') }}" class="list-group-item list-group-item-action">Histórico de Movimentações</a>
    <a href="{{ url_for('adicionar_movimentacao') }}" class="list-group-item list-group-item-action">Registrar Movimentação</a>
    </div>
</div>
{% endblock %}